
<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>My lists:</h2>
       <li><%= @list.name %></li>
    </div>
    <% @list.bookmarks.each do |bookmark| %>
  <%= bookmark.movie.title %>
  <%= bookmark.comment %>
  <%= link_to "Delete", bookmark_path(bookmark), method: :delete, data: { confirm: "Do you really want to delete?" }%>
<%end %>


<%= link_to "See all lists", lists_path, class: 'btn btn-light'%>
<%= link_to 'Add a movie', new_list_bookmark_path(@list), class: 'btn btn-light' %>
  </div>
</div>
